@charset "UTF-8";
/*shitumon

1..catalog-antiqueの画像の扱い
2．#magazineの中央寄せ
3.background-colorの幅とコンテンツ幅
4.レスポンシブでのflexとpositionの扱い（footer）
--------------------------------*/
/*共通
--------------------------------*/
html {
  font-size: 100%;
}

body {
  font-family: Arial, Hiragino Sans, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
  color: #24292E;
}

img {
  max-width: 100%;
}

/*header
-----------------------------*/
.artboard {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

header {
  background-image: url(img/mainvisual.jpg);
  min-height: 100vh;
  position: relative;
}

header h1 {
  width: 95.3px;
  height: 29.55px;
  position: absolute;
  top: 36.47px;
  right: 41.35px;
}

/*magazine
--------------------------------*/
#magazine {
  max-width: 1200px;
  padding: 0 5%;
  text-align: center;
  margin: 0 auto;
}

#magazine h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 80px;
}

#magazine .magazine-p {
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
  width: 560px;
  margin-top: 20px;
}

#magazine .magazine-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

#magazine .magazine-contents h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 23px;
  margin-top: 15px;
}

#magazine .magazine-contents p {
  font-size: 14px;
  line-height: 21px;
  width: 224px;
  margin-bottom: 16px;
  margin-left: 33px;
}

#magazine .magazine-contents .about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 290px;
  height: 97px;
  background-color: #70707080;
  opacity: 1;
}

#magazine .archive {
  background-image: url(img/magazine-archive.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 510px;
  height: 510px;
  margin-right: 21px;
  position: relative;
}

#magazine .new {
  background-image: url(img/magazine-new.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 510px;
  height: 510px;
  position: relative;
}

#fashion {
  background-image: url(img/fashion.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 520px;
  text-align: center;
  margin-top: 80px;
}

#fashion h2 {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  padding-top: 60px;
  margin-bottom: 20px;
}

#fashion p {
  max-width: 1200px;
  padding: 0 5%;
  margin-top: 20px;
  font-size: 14px;
  line-height: 21px;
  width: 560px;
  margin: 0 auto;
  padding-bottom: 43px;
}

#fashion a {
  max-width: 1200px;
  padding: 0 5%;
  border: 1px solid #2A2A2A;
  font-size: 12px;
  padding: 13px 35px;
  margin: 0 auto;
}

.catalog-antique {
  margin-top: 80px;
  padding: 60px;
  background-color: #F5F5F5;
  text-align: center;
}

.catalog-antique h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.catalog-antique p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 30px;
  text-align: left;
}

.catalog-antique .c-a-wrapper {
  max-width: 1200px;
  padding: 0 5%;
  margin: 0 auto;
}

.catalog-antique .c-a-wrapper .catalog-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.catalog-antique .c-a-wrapper .catalog-about .catalog-image {
  width: 48%;
}

.catalog-antique .c-a-wrapper .catalog-about .catalog-description {
  width: 48%;
}

.catalog-antique .c-a-wrapper .antique-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

.catalog-antique .c-a-wrapper .antique-about .antique-description {
  width: 48%;
}

.catalog-antique .c-a-wrapper .antique-about .antique-description .antique-more {
  padding-bottom: 30px;
}

.catalog-antique .c-a-wrapper .antique-about .antique-image {
  width: 48%;
}

.catalog-antique .c-a-wrapper .antique-about a {
  border: 1px solid #2A2A2A;
  font-size: 12px;
  padding: 13px 35px;
  margin: 0 auto;
}

footer {
  background-color: #333;
}

footer .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 5%;
  color: #fff;
}

footer .information.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

footer .information .column {
  width: 33%;
}

footer .information .column h2 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

footer .information .column.info-1 ul li {
  font-size: 12px;
  line-height: 24px;
}

footer .information .column.info-1 ul li::before {
  content: "-";
  margin-right: 5px;
}

footer .information .column.info-2 p {
  font-size: 12px;
  line-height: 24px;
}

footer .copy-colum {
  text-align: center;
  padding: 30px 0 25px 0;
  background-color: #fff;
}

/*mobile
------------------------------*/
@media (max-width: 860px) {
  #magazine .magazine-p {
    width: 336px;
  }
  #magazine .magazine-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #magazine .magazine-contents .archive {
    margin-bottom: 30px;
    width: 337.5px;
    height: 337.5px;
    position: relative;
  }
  #magazine .magazine-contents .new {
    width: 337.5px;
    height: 337.5px;
    position: relative;
  }
  #fashion {
    margin-bottom: 50px;
  }
  #fashion p {
    width: 336px;
  }
  .catalog-antique {
    margin-top: 30px;
    padding: 30px 5%;
  }
  .catalog-antique .c-a-wrapper {
    padding: 0;
  }
  .catalog-antique .c-a-wrapper h2 {
    margin-bottom: 40px;
  }
  .catalog-antique .c-a-wrapper p {
    margin-bottom: 30px;
  }
  .catalog-antique .c-a-wrapper .catalog-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog-antique .c-a-wrapper .catalog-about .catalog-image {
    width: 100%;
    margin-bottom: 60px;
  }
  .catalog-antique .c-a-wrapper .catalog-about .catalog-description {
    width: 100%;
  }
  .catalog-antique .c-a-wrapper .catalog-about .catalog-description p:last-child {
    margin-bottom: 0;
  }
  .catalog-antique .c-a-wrapper .antique-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog-antique .c-a-wrapper .antique-about .antique-description {
    width: 100%;
    margin-bottom: 60px;
  }
  .catalog-antique .c-a-wrapper .antique-about .antique-description a {
    margin-top: 30px;
  }
  .catalog-antique .c-a-wrapper .antique-about .antique-image {
    width: 100%;
  }
  footer .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  footer .information .column {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .information .column h2 {
    margin-bottom: 10px;
  }
  footer .information .column ul, footer .information .column p {
    font-size: 12px;
    line-height: 24px;
  }
  footer .information .shop-name {
    text-align: center;
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=style.css.map */